:root {
    --blue: #0A3871;
    --white: #ffffff;
    --gray: #D8DFE8;
    --skyblue: #F3F5FC;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--skyblue);
    color: var(--blue);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 2em 2.5em;
}

.container-ingresotxt,
.container-salidatxt {
    width: 25em;
    max-width: 800px;
    padding: 0 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}

.container-ingresotxt {
    flex: 1;
    justify-content: flex-start;
}

.container-salidatxt {
    flex: 0 0 auto;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-ingresotxt-box {
    flex: 1;
    margin: 1.5em 0;
}

.container-ingresotxt-condiciones {
    padding-bottom: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.2em;
}

.container-ingresotxt-box-txt {
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    background-color: transparent;
    font-size: 1.5rem;
    padding: 1em;
    border: none;
    color: var(--blue);
}

.container-ingresotxt-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-salidatxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
    margin: 1em 3em;
}

.container-salidatxt-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.container-salidatxt-inicio-muñeco {
    max-width: 80%;
    max-height: 50%;
    margin-bottom: 20px;
}

.container-salidatxt-inicio-txt {
    font-size: 1.2rem;
    color: var(--blue);
    padding: 0 1em;
}

.container-salidatxt-resultado,
.container-salidatxt-copiar {
    display: none;
    width: 100%;
    resize: none;
    outline: none;
    border: none;
    color: var(--blue);
    font-size: 1.5rem;
    text-align: center;
    margin: 1.5em 0.5em;
}

.container-salidatxt-resultado {
    height: 90%;
}

.container-ingresotxt-buttons-encriptar,
.container-ingresotxt-buttons-desencriptar,
.container-salidatxt-copiar {
    flex: 1;
    padding: 15px;
    border-radius: 1.2em;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    margin-right: 2em; /*modifico de 2 a 1*/
}

.container-ingresotxt-buttons-encriptar {
    background-color: var(--blue);
    color: var(--white);
}

.container-ingresotxt-buttons-desencriptar {
    color: var(--blue);
    border: 2px solid var(--blue);
}

.container-salidatxt-copiar {
    color: var(--blue);
    border: 2px solid var(--blue);
}

footer {
    padding: 1em;
}

/* Estilos para pantallas grandes */
@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .container-ingresotxt,
    .container-salidatxt {
        height: 100%;
    }
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
    .container {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .container-ingresotxt,
    .container-salidatxt {
        width: 100%;
        min-height: 15em;
        max-height: 30em;
    }

    .container-salidatxt-resultado {
        height: 100%;
    }

    .container-ingresotxt-buttons-encriptar,
    .container-ingresotxt-buttons-desencriptar {
        margin: 0.5em 0;
    }

    .container-ingresotxt-buttons {
        flex-direction: column;
    }

    /* Ocultar la imagen en dispositivos móviles */
    .container-salidatxt-inicio-muñeco {
        display: none;
    }
}





